* {
  box-sizing: border-box;
}

/*Om jag vill ha video som hero: https://www.gumlet.com/learn/how-to-autoplay-html-video/ */

.hero {
  height: 100vh;
  background-image: url(bild_fest.JPG); /*Hero-bild*/
  background-size: cover;
  background-position: center;
}
.intro-section {
  margin-top: 250px;
  margin-bottom: 250px;
}

/*Styling på text, hero-bilden*/
.intro-section h1 {
  display: flex;
  justify-content: center;
  font-family: "Prosto One", sans-serif;
  text-transform: uppercase;
  font-size: 4vw;
  line-height: 48px;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 64px;
  text-transform: uppercase;
}

/* Text om mig */
.what-i-do {
  padding: 80px 48px 80px 48px;
  display: flex;
  justify-content: center;
  /*text-align: center;*/
}

img {
  max-width: 100%;
  width: 1000px;
}

/*Projektkort*/

.container {
  max-width: 100%;
  background-color: #000000;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 5px;
}

.card-container :hover {
  border-radius: 8%;
  transition: all 1s ease-in-out;
}
