* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 1000px;
}

/* För headerbild och textbox */
.project-header {
  padding-top: 32px;
  display: flex;
  height: 80vh;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*För headerbild*/
.project-header .left {
}

/*För headertext*/
.project-header .right {
  margin-top: 140px;
  margin-bottom: 16px;
  padding: 32px;
}

/*ta bort denna, behövs den?*/
.intro-section h1 {
  display: flex;
  justify-content: left;
  font-family: "Koulen", sans-serif;
  text-transform: uppercase;
  font-size: 4vw;
  line-height: 100px;
}

.textbox {
  display: flex;
  justify-content: left;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
  padding: 20px;
}

/*För text- och bildboxar*/
.container {
  margin: 0 6vw;
  max-width: 1400px;
}

.project {
  display: flex;
  height: 80vh;
  padding-top: 32px;
  padding-bottom: 32px;
}

.project .left {
  width: 40%;
  padding-right: 45px;
}

.project .left h2 {
  font-weight: 400;
  margin-top: 140px;
  margin-bottom: 16px;
}

.project .left .project-description {
  font-size: 1rem;
  margin-bottom: 32px;
}

.project .right {
  width: 60%;
  padding-left: 32px;
}

.project .right img {
  width: 100%;
  height: 100%;
  object-fit: contain; /*eller cover*/
}
