* {
  box-sizing: border-box;
}

.intro-section {
  text-align: center; /* den här sätter text-align på titeln */
  margin-top: 200px;
  margin-bottom: 200px;
}

.intro-section h1 {
  font-family: "Prosto One", sans-serif;
}

img {
  max-width: 100%;
  width: 1000px;
}

.container {
  max-width: 100%;
  background-color: #000000;
  /*margin: 0 auto; */
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 24px;
}

/* Vill ej ha hover effect om de ej är klickbara.
.card-container :hover {
  border-radius: 8%;
  transition: all 1s ease-in-out;
}*/

.textbox {
  padding: 5px;
}
