* {
  box-sizing: border-box;
}

h3 {
  padding: 24px;
}

.intro-section {
  text-align: center; /* den här sätter text-align på titeln */
  margin-top: 200px;
  margin-bottom: 200px;
}

.project-title {
  text-align: center;
}

img {
  max-width: 100%;
  width: 1000px;
  /*max-height: 443px; /*Bilden på Emilia är 443px hög*/
}

.container {
  max-width: 100%;
  background-color: #000000;
  /*margin: 0 auto;*/
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 24px;
}

/* Vill ej ha hover effect om de ej är klickbara.
  .card-container :hover {
  border-radius: 8%;
  transition: all 1s ease-in-out;
} */

.textbox {
  padding: 5px;
}

/* Alejandro-videon */

.pepp-link {
  border: 1px solid;
  color: #7bbbeb;
  border-radius: 32px;
  padding: 24px;
  max-width: 50vh;
  text-align: center;
  margin: 16px;
}
